body {
    display: grid;
    grid-template-columns: 70% 30%;
}

#bookshelf {
    grid-column: 1;
    border: 2px solid brown;
    display: flex;
    flex-wrap: wrap;
}

.bookDecoration {
    border: 2px solid black;
    border-radius: 10px;
    width: max-content;
    padding: 5px;
    margin: 5px;
}

.readTextColor {
    border: 2px solid coral;
    border-radius: 10px;
    background-color: rgb(245, 194, 194);
    padding: 5px;
    margin: 5px;
    width: max-content;
}

#form {
    grid-column: 2;
    padding: 15px;
    margin-top: 0;
}

button {
    padding: 5px;
    margin: 10px 0px;
    width: max-content;
}

#new {
    margin-top: 0;
}

.box {
    margin: 10px;
    grid-template-columns: 1fr 2fr;
}

label,
input {
    margin: 3px;
}

label {
    grid-column: 1;
}

input {
    grid-column: 2;
}