body {
    display: grid;
    grid-template-columns: 70% 30%;
}

#bookshelf {
    grid-column: 1;
    border: 2px solid brown;
}

.bookDecoration {
    border: 2px solid black;
    border-radius: 10px;
    width: max-content;
    padding: 5px;
    margin: 5px;
}

#form {
    grid-column: 2;
    padding: 15px;
    margin-top: 0;
}

#new {
    align-self: center;
    padding: 5px;
    margin-top: 0;
    margin-bottom: 10px;
    width: max-content;
}

.box {
    margin: 10px;
    grid-template-columns: 1fr 2fr;
}

label,
input {
    margin: 3px;
}

label {
    grid-column: 1;
}

input {
    grid-column: 2;
}